// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background: url(/assets/bg/gray_jean/gray_jean.png);
}

.status{
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}

.status p{
	margin: 4px 0;
}

.status.hover{
	background: url(/assets/bg/gray_jean/gray_jean.png);
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}